<div id="pagination" class="">

	{% if paginate.pages > 1 %}
	<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
	{% if paginate.previous %}
		<a class="prev fa fa-angle-left" href="{{ paginate.previous.url }}"><span>Trang trước</span></a>
	{% endif %}
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center">
		{%for part in paginate.parts%}
		{%if part.is_link%}
		<a class="page-node" href="{{part.url}}">{{part.title}}</a>
		{%else%}
		<span class="page-node {%if part.title == paginate.current_page%}current{%endif%}">{{part.title}}</span>
		{%endif%}
		{%endfor%}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
	{% if paginate.next %}
		<a class="pull-right next fa fa-angle-right" href="{{ paginate.next.url }}"><span>Trang sau</span></a>
	{% endif %}
	</div>

	{% endif %}

</div>