<div id="cart" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<!-- Begin empty cart -->
	{% if cart.item_count == 0 %}
	<div class="row" >
		<div id="layout-page" class="col-md-12">
			<span class="header-page clearfix">
				<h1>Giỏ hàng</h1></span>
			<p class="text-center">
        Không có sản phẩm nào trong giỏ hàng!</p>
        <p class="text-center"><a  href="/collections/all">
          <i class="fa fa-reply"></i> Tiếp tục mua hàng</a>
        </p>
      
      
		</div></div>
	<!-- End empty cart -->

	<!-- Begin cart -->
	{% else %}
	<div class="row" >
		<div id="layout-page" class="col-md-12">
			<span class="header-page clearfix">
				<h1>Giỏ hàng</h1></span>
			<form action="/cart" method="post" id="cartformpage">
				<table>
					<thead>
						<tr>
							<th class="image">&nbsp;</th>
							<th class="item">Tên sản phẩm</th>
							<th class="qty">Số lượng</th>
							<th class="price">Giá tiền</th>
							<th class="remove">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for item in cart.items %}
						<tr>
							<td class="image">
								<div class="product_image">
									<a href="{{ item.url }}">
										<img src="{{ item | img_url: 'small' }}" />
									</a>
								</div>
							</td>
							<td class="item">
								<a href="{{ item.url }}">
									<strong>{{ item.product.title }}</strong>
									{% if item.product.variants.size > 1 %}
									<span class="variant_title">{{ item.variant.title }}</span>
									{% endif %}
								</a>
							</td>
							<td class="qty">
								<input type="number" size="4" name="updates[]" min="1" id="updates_{{ item.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="tc item-quantity" />
							</td>
							<td class="price">{{ item.line_price | money }}</td>
							<td class="remove">
								<a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart">Xóa</a>
							</td>
						</tr>
						{% endfor %}
						<tr class="summary">
							<td class="image">&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="price">
								<span class="total">
									<strong>{{ cart.total_price | money }}</strong>
								</span>
							</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>

				<div class="col-md-6 inner-left inner-right">
					<div class="checkout-buttons clearfix">
						<label for="note">Ghi chú </label>
						<textarea id="note" name="note" rows="8" cols="50">{{ cart.note }}</textarea>
					</div>
				</div>

				<div class="col-md-6 cart-buttons inner-right inner-left">
					<div class="buttons clearfix">
						<button type="submit" id="checkout" class="button-default" name="checkout" value="" >Thanh toán</button>
						<button type="submit" id="update-cart" class="button-default" name="update"  value="" >Cập nhật</button>
					</div>
				</div>

				{% if additional_checkout_buttons %}
				<div class="row">
					<div class="extra-checkout-buttons span6">
						{{ content_for_additional_checkout_buttons }}
					</div>
				</div>
				{% endif %}

			</form>
		</div>
	</div>
	{% endif %}


	<!-- End cart -->

</div>

