<div class="col-md-9 col-xs-12 col-sm-12" id="layout-page">
	<span class="header-search header-page clearfix">
		<h1>Tìm kiếm</h1>
	</span>

	{% if search.performed %}
	{% paginate search.results by settings.pagination_limit %}

	{% if search.terms == "" %}
	<div class="content-page" id="search">
		<div class="col-md-12 expanded-message">
			<div class="search-field">
				<form class="search" action="/search">
					<input type="submit" alt="Go" id="go"/>
					<input type="text" name="q" class="search_box" placeholder="Tìm kiếm" value="{{search.terms}}"  />
				</form>
			</div>
		</div> 
	</div>
	{% else %}

	{% if search.results == empty %}
	<div class="content-page" id="search">
		<div class="col-md-12 expanded-message">
			<h2>Không tìm thấy nội dung bạn yêu cầu</h2>
			<span class="subtext">
				Không tìm thấy  <strong>"{{ search.terms }}"</strong> . Vui lòng tìm kiếm với từ khóa khác.
			</span>
			<div class="search-field">
				<form class="search" action="/search">
					<input type="submit" alt="Go" id="go"/>
          <input type="hidden" name="type" value="product" />
					<input type="text" name="q" class="search_box" placeholder="Tìm kiếm" value="{{search.terms}}"  />
				</form>
			</div>
		</div>
	</div>
	{% else %}

	<div class="content-page" id="search">
		<div class="col-md-12">
			<span class="subtext">
				Kết quả tìm kiếm cho  <strong>"{{ search.terms }}"</strong>.
			</span>
		</div>
	</div>
	<div class="results content-page content-product-list product-list">
		<!-- Begin results -->
		{% for product in search.results %}
		{% include 'product-loop' with collection.handle %}
		{% endfor %}
	</div>
	<!-- End results -->

  {% include 'pagination-default' %}

  {% endif %}
  {% endif %}

  {% endpaginate %}

  {% else %}

  <div class="content-page" id="search">
		<div class="col-md-12 expanded-message">
			<div class="search-field">
				<form class="search" action="/search">
					<input type="submit" alt="Go" id="go"/>
					<input type="text" name="q" class="search_box" placeholder="Tìm kiếm" value="{{search.terms}}"  />
				</form>
			</div>
		</div>
	</div>

	{% endif %}
	<!-- /#search -->

	<style>
    div#search {
    float: left;
    width: 100%;
    outline: none;
    }
    .search-field {
    width: 100%!important;
    }
    input#go {
    width: 34px!important;
    height: 34px!important;
    float: right!important;
    background: url(//hstatic.net/0/0/global/design/theme-default/icon-search.png) #53A1CC center no-repeat;
    margin: 0px!important;
    font-size: 0px;
    position: relative!important;
    top:0px!important;
    }
    #search .search_box
    {
    width: calc(100% - 34px)!important;
    float: left;
    outline: none;
    padding: 0px 0px 0px 10px;
    }
  </style>